@media only screen and (max-width: 1024px) {

  .region-page-top, #mainMenu, #footer, .wrapper, .header, .content, .wideBox {
    max-width: 100vw;
  }

  #mainMenu li ul {
    display: none !important;
  }

  .wideBox {
    width: auto;
    margin: 1px 10px 0;
  }
}
