html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-weight: normal;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
  background: #003956;
}

body {
    line-height: 1;
}

ol, ul {
  list-style-position: inside;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 50%;
}

img {
    max-width: 100%;
    height: auto;
}

/* CSS Document */

body {
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: muli-regular, Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #373f46;
}
.wrapper-header, .wrapper-footer {
  display: block;
  background: #003956;
}
.wrapper-header {
  border-bottom: 5px solid #D03344;
}
.wrapper-footer {
  /*position: fixed;*/
  /*bottom: 0;*/
  /*left: 0;*/
}

.floatRight {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

.floatLeft {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

img.newsThumb {
    width: 130px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.breadcrumbs-list {
    overflow: hidden;
    height: 21px;
    line-height: 21px;
    display: inline-block;
}

.breadcrumbs-list-links {
    overflow: hidden;
    line-height: 16px;
}

.breadcrumbs-list-links li {
    display: inline;
}

.breadcrumbs-list-title {
    float: left;
    padding: 0 5px 0 0;
}

a {
    color: #003956;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    color: #373f46;
    text-decoration: underline;
    outline: none;
}

.content-box a {
    color: #003956;
    text-decoration: underline;
}

.content-box a:hover,
.content-box a:focus,
.content-box a:active {
    color: #373f46;
    text-decoration: none;
}

a.infoLink {
    font-size: 11px;
    margin-left: -13px;
    line-height: 18px;
    color: #373f46;
}

p {
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 12px;
    line-height: 18px;
}

.blackText {
    color: #373f46;
    font-family: 'muli-bold', Helvetica, Arial, sans-serif;
    text-transform: none;
}

.form-item input.error {
    border-color: #f00 !important;
}

h1 {
    font-size: 25px;
    line-height: 25px;
    text-transform: uppercase;
    color: #003956;
    margin-bottom: 15px;
    font-family: 'montserrat-bold', Helvetica, Arial, sans-serif;
}

h2 {
    color: #003956;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
    font-family: 'montserrat-bold', Helvetica, Arial, sans-serif;
}

.contentBox h2 {
    margin-bottom: 10px;
}

h3 {
    color: #373f46;
    font-size: 13px;
    margin-bottom: 10px;
    line-height: 18px;
    font-family: 'montserrat-regular', Helvetica, Arial, sans-serif;
}

h4 {
    color: #373f46;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 18px;
    font-weight: normal;
    font-family: 'montserrat-regular', Helvetica, Arial, sans-serif;
}

h5 {
    color: #373f46;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 18px;
  font-family: 'montserrat-regular', Helvetica, Arial, sans-serif;
}

h5 span {
    font-weight: bold;
}

h6 {
  font-family: 'montserrat-regular', Helvetica, Arial, sans-serif;
    line-height: 18px;
}

h6 + ol,
h6 + ul {
    margin-top: 10px;
}

table h5 {
    margin: 10px 0;
}

p.introText {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 22px;
    font-family: 'muli-bold', Helvetica, Arial, sans-serif;
}

.clear {
    clear: both;
}

p.category {
    font-size: 14px;
    font-style: italic;
    color: #555;
}

.region-page-top, #mainMenu, #footer, .content, .wideBox, .content-box, .box, .wrapper, .header, .content > div {
    width: auto;
    max-width: 960px;
    margin: auto;
    text-align: left;
    position: relative;
}

#mainMenu {
}

#block-system-main {
  background: rgba(255,255,255,0.9);
}

.content {
    background-image: url("../images/background-md.jpg");
    background-size: cover;
    background-attachment: fixed;
    max-width: none;
    width: 100%;
    clear: both;
    padding: 15px 0;
    margin-top: 0;
}

#globalNavigation .right {
    float: right;
}

#globalNavigation .left {
    float: left;
}

#globalNavigation .middle {
    color: #fff;
    position: absolute;
    left: 190px;
    padding-top: 7px;
    display: none; /*requested by will 20131119*/
}

#globalNavigation {
    height: 32px;
    margin-bottom: 15px;
    padding-top: 6px;
    background: #30373e url(../images/dark_gradient.jpg) repeat-x top;
    width: 100%;
    position: relative;
}

#globalNavigation a {
    padding: 7px 10px;
    background: #003956 url(../images/gradients.jpg) repeat-x top;
    color: #fff;
    display: inline-block;
}

#globalNavigation a:hover,
#globalNavigation a:focus,
#globalNavigation a:active {
    background: #fff;
    color: #003956;
    text-decoration: none;
}

#globalNavigation select {
    padding: 3px 4px 3px 4px;
    background: #fff;
    color: #373f46;
    border: none;
    font-size: 12px;
    margin-left: 5px;
    font-family: muli-regular, Helvetica, Arial, sans-serif;
}

#globalNavigation ul {
    padding: 0px;
    margin: 0px;
}

#globalNavigation ul li {
    list-style: none;
    float: left;
    padding: 0px;
    margin: 0px 0px 0px 3px;
}

.box ul li,
#footer ul li {
  list-style: none;
}

a#skipto {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
a#skipto:focus,
a#skipto:active {
  display: inline-block;
  width: 100%;
  color: #FFFFFF;
  background: #003956;
  padding: 0;
  margin: auto;
  text-align: center;
}

.left a {
    margin-right: 3px;
}

.right a, .middle a {
    margin-left: 3px;
}

#languageSlider {
    display: inline-block;
    width: 300px !important;
    position: absolute;
    color: #fff;
    left: 50%;
    margin-left: 70px;
    top: 0;
}

#languageSlider span {
    display: none;
}

#logo a:focus,
#logo a:active {
    outline: 1px dotted #34555A;
}

#search {
    float: right;
    position: absolute;
    margin-bottom: 10px;
    right: 0;
    top: 50%;
}

#search a:focus {
    outline: 1px dotted #34555A;
}

#search p {
    margin-bottom: 5px;
}

#searchBox {
    background: #FFFFFF;
    border: 1px solid #c3c1b8;
    border-right: 1px solid #eeede8;
    border-bottom: 1px solid #eeede8;
    padding: 5px;
    font-size: 14px;
    color: #373f46;
    width: 250px;
}

#searchBtn {
    background: url(../images/assets/icon-search.png) no-repeat;
    background-size: cover;
    width: 19px;
    height: 18px;
    display: block;
    border: none;
    position: absolute;
    bottom: 6px;
    right: 4px;
    cursor: pointer;
    text-indent: -3000px;
}

#searchBtn:hover,
#searchBtn:focus,
#searchBtn:active {
    background: url(../images/assets/icon-search.png) no-repeat;
    background-size: cover;
    outline: none;
}

.header {
    background: #003956;
}

#logo {
  margin: 12px 0 10px 12px;
}

#mainMenu {
    background: #003956;
    padding: 0;
    font-family: muli-regular, Helvetica, Arial, sans-serif;
    z-index: 200;
    position: relative;
    display: table;
    width: 100%;
    margin-bottom: 0;
}

#mainMenu li {
    position: relative;
    list-style: none;
}

#mainMenu > li {
    display: table-cell;
    border-right: 1px solid #FFFFFF;
}

#mainMenu > li.last {
  border-right: none;
}

#mainMenu li > div {
    position: relative;
}

#mainMenu li > div > a {
    display: block;
    padding: 14px 20px;
    margin: 0;
}

#mainMenu li ul {
    width: 230px;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

#mainMenu li:hover ul,
#mainMenu li.focus ul {
    display: block;
}

#mainMenu li.last ul {
    right: 4px !important;
    left: auto;
}

#mainMenu li a {
    display: block;
    margin: 0;
    padding: 12px 0 0;
    font-size: 13px;
    text-decoration: none;
    color: #fff;
    border-right: 1px solid #003956;
    border-left: 1px solid #003956;
    background: #003956;
    font-family: 'muli-bold', Helvetica, Arial, sans-serif;
    text-align: center;
}

#mainMenu li.last a {
    border-right: none;
    padding-left: 17px;
    padding-right: 17px;
}

#mainMenu li:hover > div > a,
#mainMenu li > div > a:focus,
#mainMenu li > div > a:active,
#mainMenu li:hover > a,
#mainMenu li > a:focus,
#mainMenu li > a:active {
    background: #556670;
    color: #FFFFFF;
}

#mainMenu li .current {
    background: #30373e url(../images/dark_gradient.jpg) repeat-x top;
}

#mainMenu li ul li a {
    text-align: left;
    width: 200px;
    font-family: muli-regular, Helvetica, Arial, sans-serif;
    font-size: 12px;
    z-index: 200;
    border: none;
    background: #DEDEDE;
    padding: 10px 15px;
    height: auto;
    line-height: 16px;
    border-bottom: 1px solid #003956;
    color: #000000;
}

#mainMenu li ul li a:hover,
#mainMenu li ul li a:focus,
#mainMenu li ul li a:active {
    background: #003956;
    color: #FFFFFF;
}

.wideBox {
    margin:auto;
    position: relative;
    max-width:960px;
    zoom: 1;
}
.content .wideBox {
  background: rgba(255,255,255,0.9);
}
.wideBox .wideBox-half {
  background: transparent;
  position: relative;
  padding: 10px;
  max-width:400px;
  float:left;
  zoom: 1;
}

.wideBox .wideBox-half.right {
  float: right;
}

.breakoutBox {
    padding: 10px 10px 1px 10px;
    background: #F0EFEA;
    margin-bottom: 10px;
}

.content-box {
    /*float:left;*/
    overflow: hidden;
    margin-top: 10px;
}

.page-node-16 .content-box {
    width: 685px;
}

.box {
    background: #fff;
    position: relative;
    padding: 7px;
    width: 100%;
    float: left;
    zoom: 1;
    min-height: 300px;
}

#slideshow.box {
    width: 615px;
    padding: 0;
    height: 250px;
    overflow: hidden;
    background-color: #003956;
}

#slideshow #pager {
    display: none;
}

/* temporarily hide the pager */

#promoArea.box,
#industryUpdate.box,
#fwbcOnSite.box,
#noPermits.box,
#strike.box,
#buildingCode2013.box,
#drugAndAlcohol.box {
    width: 300px;
    height: 250px;
    padding: 0;
    overflow: hidden;
    background-repeat: no-repeat;
}

#industryUpdate.box {
    background-image: url('../images/blocks/industry-update-bg.png');
}

#industryUpdate.box h4 {
    font-size: 18px;
    line-height: 21px;
    padding: 77px 10px 5px 21px;
    word-spacing: 0px;
}

#fwbcOnSite.box {
    background-image: url('../images/blocks/app-bg.png');
}

#fwbcOnSite.box h2 {
    font-size: 34px;
    padding: 21px 0 0 28px;
}

#fwbc-on-site.box h2 a {
    color: #003956;
}

#fwbcOnSite.box h4 {
    padding: 116px 10px 5px 31px;
    font-size: 18px;
    line-height: 22px;
    word-spacing: 1px;
}

#fwbc-on-site.box h4 a {
    color: #484747;
}

#noPermits.box {
    background-image: url('../images/blocks/nopermit-list-bg.png');
}

#noPermits.box h4 {
    font-size: 18px;
    line-height: 21px;
    padding: 77px 10px 5px 25px;
    word-spacing: 0px;
}

#strike.box {
    background-image: url('../images/blocks/strike-bg.png');
}

#strike.box h2 {
    font-size: 29px;
    line-height: 38px;
    padding: 21px 0 0 18px;
}

#strike.box h4 {
    font-size: 16px;
    line-height: 20px;
    padding: 78px 10px 5px 18px;
    word-spacing: 1px;
}

#buildingCode2013.box {
    background-image: url('../images/blocks/building-code-bg.png');
}

#buildingCode2013.box h2 {
    font-size: 32px;
}

#buildingCode2013.box h4 {
    font-size: 17px;
    padding: 78px 10px 5px 20px;
}

#drugAndAlcohol.box {
    background-image: url('../images/blocks/drug-test-bg.png');
}

#drugAndAlcohol.box h2 {
    font-size: 28px;
    line-height: 34px;
    padding: 23px 0 0 18px;
}

#drugAndAlcohol.box h4 {
    font-size: 19px;
    line-height: 22px;
    padding: 86px 10px 5px 20px;
    word-spacing: 3px;
}

.box h2 {
    padding: 8px 8px 5px 8px;
}

#subNav h2 {
    padding-bottom: 10px;
    font-family: 'montserrat-bold', Helvetica, Arial, sans-serif;
    font-weight: normal;
    background: rgba(255,255,255,0.7);
}

.box h3 {
    padding: 8px 8px 5px 8px;
    font-weight: normal;
    margin-bottom: 0;
}

.box p {
    padding: 0 8px 10px 8px;
    margin-bottom: 0;
}

.contentBox {
    margin-left: 15px;
    background: #fff;
    position: relative;
    padding: 15px;
    /*float: left;*/
    width: 100%;
    max-width: 700px;
}

.contentBox.wide {
    margin-left: 15px;
    background: #fff;
    position: relative;
    padding: 15px;
    float: left;
    max-width: 700px;
}
.page-node-10 .contentBox.wide {
  margin: auto;
  float: none;
  max-width: 950px;
}
.page-node-10 #leftContent {
  width: 100%;
  max-width: none;
  display: block;
}

.page-user .contentBox{
  margin-left: 0;
}

#subNav {
    margin-top: 10px;
    position: relative;
    padding: 7px 7px 0 7px;
    max-width: 200px;
    background: rgba(255,255,255,0.9);
    float: left;
}

#subNav ul li a {
    padding: 10px 25px 10px 10px;
    background: #f0efea;
    display: block;
    margin-bottom: 7px;
    font-weight: bold;
    position: relative;
}

#subNav ul li ul.secondLevel li a {
    padding: 10px 20px 10px 10px;
    background: #f0efea;
    display: block;
    margin-bottom: 0;
    position: relative;
    font-weight: normal;
    border-bottom: 1px solid #fff;
}

#subNav ul li ul.secondLevel li a.active {
    background: #003956;
    display: block;
    margin-bottom: 0;
    position: relative;
    font-weight: bold;
    color: #fff;
}

#subNav ul li a:hover,
#subNav ul li a:focus,
#subNav ul li a:active,
#subNav ul li ul.secondLevel li a:hover,
#subNav ul li ul.secondLevel li a:focus,
#subNav ul li ul.secondLevel li a:active {
    background: #dad8cd;
    color: #000000;
    text-decoration: none;
}

ul.secondLevel {
    border-top: none;
    background: #f0efea;
    margin-top: -6px;
    margin-bottom: 6px;
    margin-left: 5px;
}

#subNav li a.closed span {
    width: 10px;
    height: 11px;
    background-image: url(../images/assets/arrow-red.png);
    background-size: 10px 10px;
    display: block;
    position: absolute;
    top: 11px;
    right: 7px;
}

#subNav li a.open span {
    width: 11px;
    height: 10px;
    background-image: url(../images/assets/arrow-red-bold.png);
    background-size: 10px 10px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
    display: block;
    position: absolute;
    top: 13px;
    right: 7px;
}

ul.secondary a span {
    display: none !important;
}

#subNav ul li ul.thirdLevel {
    padding: 7px 0;
    background: #fff;
    margin-left: 5px;
}

#subNav ul li ul.thirdLevel li a {
    padding: 7px 10px;
    background: #fff;
    display: block;
    margin-bottom: 0;
    position: relative;
    font-weight: normal;
    border-bottom: 1px solid #fff;
}

#subNav ul li ul.thirdLevel li a.active {
    background: #fff !important;
    display: block;
    margin-bottom: 0;
    position: relative;
    font-weight: bold;
    color: #000;
}

#subNav ul li ul.thirdLevel li a:hover,
#subNav ul li ul.thirdLevel li a:focus,
#subNav ul li ul.thirdLevel li a:active {
    background: #dad8cd;
    color: #000000;
    text-decoration: none;
}

#subNav ul li ul.fourthLevel li a {
    padding: 7px 10px;
    padding-left: 17px;
    font-size: 0.95em;
}

#subNav ul.thirdLevel li a.open span, #subNav ul.thirdLevel li a.closed span {
    top: 8px;
}

#subNav ul.thirdLevel .selected a {
    background: #f0efea;
}

body.node-type-newsletter #subNav ul li a.closed {
    color: #003956;
    background: none !important;
}

#subNav a.active, #subNav a.open.closed {
    color: #fff;
    font-weight: bold;
    background: #003956;
}

body.node-type-newsletter #subNav ul li a.open.closed {
    color: #fff;
    background: #003956;
}

#subNav ul li ul.thirdLevel li a.open {
    background: #f0efea !important;
    color: #003956;
}

#rightContent {
  width: 235px;
  margin-top: 15px;
}

#rightContent .box {
    max-width: 200px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 15px;
    padding: 7px 7px 0 7px;
    background: rgba(255,255,255,0.9);
}

.contentBox ul, .contentBox ol {
    margin-bottom: 10px;
}

ul.bulletlist li {
    line-height: 18px;
}

.bulletlist li.selected a {
    font-weight: bold !important;
}

.contentBox ul li {
    padding-left: 0;
    margin-left: 20px;
    line-height: 18px;
    list-style-position: outside;
}

.contentBox ol li {
    padding: 3px 7px 7px 0;
    margin-left: 25px;
    list-style: decimal;
    line-height: 18px;
}

.contentBox ul li ul, .contentBox ol li ol {
    margin-bottom: 0 !important;
}

.contentBox ol li ol li {
    padding: 3px 7px 7px 0;
}

.contentBox ul li ul li:last-child {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.contentBox p a {
    text-decoration: underline;
}

.contentBox p a.button,
.contentBox p a:hover,
.contentBox p a:focus,
.contentBox p a:active {
    text-decoration: none;
}

#rightContent .button {
    margin-right: 7px;
}

span.date {
    display: block;
    font-size: 11px;
    color: #555;
    padding-top: 4px;
}

.corner {
    width: 53px;
    height: 39px;
    background: url(../images/corner.png) no-repeat top right;
    position: absolute;
    top: 0;
    right: 0;
}

#pager ul {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'muli-regular', Helvetica, Arial, sans-serif;
    width: 616px;
}

#pager ul li {
    float: left;
    margin: 0;
    padding: 0;
}

#pager ul li.first {
    width: 20%;
}

#pager ul li.second {
    width: 20%;
}

#pager ul li.third {
    width: 35%;
}

#pager ul li.last {
    width: 25%;
}

#pager ul li a {
    display: block;
    margin: 0;
    padding: 8px 0 0 0;
    height: 24px;
    font-size: 13px;
    text-decoration: none;
    color: #fff;
    border-right: 1px solid #e8e8e4;
    border-top: 1px solid #e8e8e4;
    background: #003956 url(../images/gradients.jpg) repeat-x top;
    text-align: center;
}

#pager ul li.last a {
    border-right: none;
    padding: 8px 0 0 0;
}

#pager ul li a.selected {
    background: #30373e;
    border-top: 1px solid #30373e;
}

#pager ul li a:hover,
#pager ul li a:focus,
#pager ul li a:active {
    background: #374047 url(../images/gradients.jpg) repeat-x center center;
}

#pager ul li a:hover.selected,
#pager ul li a:focus.selected,
#pager ul li a:active.selected {
    background: #30373e;
}

.line {
    border-bottom: 1px solid #dad8cd;
    margin-bottom: 3px;
    clear: both;
}

ul#tabs li {
    float: left;
    margin: 0 0 7px 0;
    padding: 0;
}

ul#tabs li a {
    display: inline-block;
    margin: 0;
    padding: 10px 15px;
    font-size: 12px;
    text-decoration: none;
    background: #f0efea;
    border: 1px solid #f0efea;
    border-bottom: 1px solid #dad8cd;
}

ul#tabs li a.selected {
    display: inline-block;
    margin: 0;
    padding: 10px 17px 10px 18px;
    font-size: 12px;
    text-decoration: none;
    color: #373f46;
    background: #fff;
    border: 1px solid #dad8cd;
    border-bottom: 1px solid #fff;
}

ul.links a {
    padding: 10px;
    background: #f0efea;
    display: block;
    margin-bottom: 7px;
    font-weight: bold;
}

a.button {
    padding: 10px 10px;
    background: #003956;
    color: #fff;
    display: block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

a:hover.button,
a:focus.button,
a:active.button {
    padding: 10px 10px;
    background: #374047 url(../images/gradients.jpg) repeat-x center;
    color: #fff;
    display: block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

a.lightButton {
    padding: 7px 10px;
    background: url(../images/gradients.jpg) repeat-x bottom;
    color: #373F46;
    display: block;
    font-weight: bold;
    text-align: center;
}

a:hover.lightButton,
a:focus.lightButton,
a:active.lightButton {
    padding: 7px 10px;
    background: #374047 url(../images/gradients.jpg) repeat-x center;
    color: #fff;
    display: block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

#footer .footer-menu {
    border-left: 1px solid #DAD8CD;
    padding: 8px 8px 8px 20px;
    margin-right: 20px;
    float: left;
}

#footer .footer-menu h2 {
    font: bold 12px/18px "montserrat-bold", Helvetica, Arial, sans-serif;
    text-transform: none;
    color: #FFFFFF;
    margin-bottom: 5px;
}

#footer .footer-menu h2 a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

#footer .footer-menu h2 a:hover,
#footer .footer-menu h2 a:focus,
#footer .footer-menu h2 a:active {
    text-decoration: underline;
}

#footer li,
#footer a:link,
#footer a:visited {
  color: #FFFFFF;
}
#footer li a,
#footer li a:link,
#footer li a:visited {
  border-right: 1px solid #FFFFFF;
  padding: 0 5px;
}

#footer li:last-child a {
  border-right: none;
}

#footer .footer-menu.first {
    border-left: none;
    padding-left: 8px;
}

#footer .footer-menu ul li {
    margin-bottom: 5px;
    line-height: 18px;
}

#footer ul.bottom-menu li {
    float: left;
    padding: 0px;
    margin: 0px;
}

#footer .footer-bottom {
    float: left;
    margin-bottom: 30px;
}

#footer p {
    padding: 0px;
    margin: 0px;
    line-height: 12px;
}

a.icon {
    display: inline-block;
    padding: 2px;
    padding-left: 22px;
    margin-right: 15px;
    line-height: 18px;
    font-weight: bold;
}

.box a.icon {
    margin: 2px 0;
}

.rss {
    background: url(../images/assets/icon-rss.png) no-repeat 0 2px;
}

.twitter {
    background: url(../images/twitter.gif) no-repeat 0 2px;
}

.email {
    background: url(../images/email.gif) no-repeat 0 2px;
}

.flag {
    background: url(../images/flag.gif) no-repeat 0 2px;
}

.chat {
    background: url(../images/chat.gif) no-repeat 0 2px;
}

#mainMenu li#home {
  max-width: 62px;
}

#mainMenu li#home > div > a {
  display: table-cell;
  padding: 14px 15px;
  /* min-width: 0; */
  background-image: url(../images/assets/icon-home.png);
  background-size: 28px 28px;
  background-position: center;
  background-repeat: no-repeat;
}
#mainMenu li#home > div > a:hover,
#mainMenu li#home > div > a:focus {
  /*background-image: url(../images/assets/icon-home-black.png);*/
}
#mainMenu li#home > div > a > span.hidden {
  display: inline-block;
  color: transparent !important;
}

#breadCrumbs {
    margin: 0 auto;
    background: #fff;
    position: relative;
    padding: 10px;
}

#breadCrumbs a {
    display: inline-block;
    background-position: center right;
    background-image: url(../images/assets/arrow-red.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 10px 10px;
    padding: 0 12px 0 0;
    height: 21px;
    line-height: 21px;
}

#pageTools {
    display: inline-block;
    float: right;
    width: 100px;
    height: 21px;
    top: 0;
    right: 0;
    text-align: right;
    z-index: 90;
}

#pageTools a, .addthis_toolbox, .addthis_toolbox a {
    display: table-cell;
    padding: 0;
    background: none;
    margin-right: 0;
    height: 21px;
    line-height: 21px;
}

#pageTools a img, .addthis_toolbox, .addthis_toolbox a img {
  display: table-cell;
  vertical-align: middle;
  max-height: 21px;
}

.addthis_toolbox {
  margin: 0 5px 0 0;
}

.addthis_toolbox > .addthis_button_compact > .at-icon-wrapper {
  background-color: rgb(0, 57, 86) !important;
}

#pageTools a:focus,
#pageTools a:active {
    outline: 1px dotted #34555A;
}

.atm-s a:focus, #at_hover.atm-s a:focus {
    background: #2095f0 !important;
}

.atm-s a:focus span, #at_hover.atm-s a:focus span {
    color: #fff !important;
}

#atic_auth #atic_signin:focus #at_auth {
    background: #2095f0 !important;
    color: #fff !important;
}

#at15pf a:focus {
    color: #000 !important;
}

span.hidden {
    display: none;
}

a#bigTextIcon {
    width: 19px;
    height: 21px;
    overflow: hidden;
}

a:hover#bigTextIcon, a#bigTextIcon.selected {
}

a#mediumTextIcon {
    width: 18px;
    height: 21px;
    overflow: hidden;
}

a:hover#mediumTextIcon, a#mediumTextIcon.selected {
}

a#smallTextIcon {
    width: 14px;
    height: 21px;
    overflow: hidden;
}

a:hover#smallTextIcon, a#smallTextIcon.selected {
}

a#shareBtn {
    width: 21px;
    height: 21px;
    overflow: hidden;
    margin-right: 5px;
}

a#printBtn {
    width: 21px;
    height: 21px;
    overflow: hidden;
    margin-right: 5px;
}

.contentBox .line {
    border-bottom: 1px solid #dad8cd;
    margin-bottom: 10px;
    font-size: 0;
    line-height: 0;
}

#search-filter label {
    display: inline-block;
}

#search-filter .btn {
    background: url(../images/gradients.jpg) 0 0 repeat-x;
    color: #fff;
    font-family: "muli-bold";
    font-weight: bold;
    padding: 0 5px;
    border: 1px solid #003956;
}

#search-filter .btn:hover,
#search-filter .btn:focus,
#search-filter .btn:active {
    background-position: 0 -38px;
    outline: none;
}

#searchResults .search-item {
    border-top: 1px solid #dad8cd;
    padding: 10px 0px;
}

#searchResults .view-header {
    padding-bottom: 10px;
}

.view-filters {
    display: none;
}

#searchResults .search-item h3 {
    font-size: 15px;
    margin-bottom: 2px;
}

#searchResults .search-item p {
    margin-bottom: 0px;
    border: 0;
    padding: 0;
}

#searchResults span.date {
    float: none;
    margin: 0;
    padding: 0;
    display: inline;
}

.highlight {
    background: #f0ebe1;
}

.pageNavigation,
.item-list .pager {
    padding-top: 15px;
    text-align: center;
    margin: 0;
}

.content .item-list .pager li {
    display: inline-block;
    padding: 0;
    margin: 0 1px 0 0;
}

.content .item-list .pager li.pager-current {
    padding: 3px 8px;
    font-weight: bold;
    border-bottom: none;
    font-size: 12px;
    background: #003956;
    color: #fff;
}

.content .item-list .pager li.last,
.content .item-list .pager li.first {
    display: none;
}

.content .item-list .pager li a {
    display: block;
    padding: 3px 8px;
    font-weight: bold;
    border-bottom: none;
    font-size: 12px;
    color: #fff;
    background: #003956;
}

.pageNavigation a.disabled,
.pageNavigation a:hover.disabled,
.pageNavigation a:focus.disabled,
.pageNavigation a:active.disabled {
    display: none;
}

#legal-cases-filter ul {
  list-style: none;
}

.refineSearch {
    float: right;
    padding: 15px 15px 15px 15px;
    margin-top: -15px;
    margin-right: -15px;
    background: #f7f6f3;
    border: 1px solid #fff;
}

.refineSearch h2 {
    margin-bottom: 5px;
    font-weight: normal;
    font-family: 'montserrat-bold', Helvetica, Arial, sans-serif;
}

.refineSearch input {
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-top: 1px;
}

.refineSearch label {
    overflow: hidden;
    display: inline;
}

.refineSearch li, table li {
    clear: both;
    margin-bottom: 5px;
    line-height: 16px;
    background: none !important;
    padding: 0 !important;
    margin-left: 0;
}

.refineSearch ul {
    margin-bottom: 10px;
}

span.date {
    float: right;
    margin-left: 10px;
}

.results {
    color: #373F46;
}

.results span {
    float: right;
    font-size: 12px;

}

.results span a {
    margin-left: 15px;
}

table {
    margin-bottom: 15px;
}

table td, table th {

    background: #fff;
    line-height: 16px;
}

table th {
    font-weight: bold;
    padding: 6px 2px;
    min-width: 46px;
    color: #fff;
    background: #003956;
    border-bottom: 1px solid #fff;
}

th.active img {
    margin-left: 4px;
}

table td {
    padding: 6px 7px;
    border-bottom: 1px solid #dad8cd;
}

.scrollable {
    overflow: auto;
    width: 100%;
}

table.caseInfo td {
    padding: 6px 7px 6px 0;
}

table.form {

}

.form td {
    border-bottom: 1px solid #fff;
    padding: 10px;

}

table.form h2 {
    margin: 0;
}

table.form td {
    background: #F0EFEA !important;
}

input.textfield,
.refineSearch input[type="text"] {
    border: 1px solid #C3C1B8;
    padding: 3px;
    font-family: muli-bold, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #373F46;
    width: 140px;
}

.contact-form input[type=text], .contact-form input[type=email] {
    border: 1px solid #C3C1B8;
    padding: 3px;
    width: 250px;
    background: #fff;
    color: #373F46;
}

.box input.textfield, .box select,
#newsletter-signup-box input[type="text"],
#newsletter-signup-box input[type="email"] {
    border: 1px solid #C3C1B8;
    padding: 3px;
    width: 190px;
    color: #373F46;
}

#newsletter-signup-box input[type="email"] {
    background: #fff;
}

#newsletter-signup-box .form-item {
    margin: 0;
}

p.nomargin {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

textarea {
    border: 1px solid #C3C1B8;
    padding: 3px;
    width: 250px;
    font-family: muli-regular, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #373F46;
}

select {
    border: 1px solid #C3C1B8;
    padding: 1px;
    font-family: muli-regular, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #373F46;
}

.refineSearch input.textfield {
    width: 140px;
}

input.button, .contact-form .form-submit {
    width: 197px;
}

input.button, .contact-form .form-submit,
#newsletter-signup-box .form-submit {
    padding: 5px 10px;
    background: #003956;
    color: #fff;
    display: block;
    font-weight: bold;
    text-align: center;
    border: none;
}

#newsletter-signup-box .form-submit {
    width: 197px;
}

input:hover.button,
input:focus.button,
input:active.button,
.contact-form input:hover.form-submit,
.contact-form input:focus.form-submit,
.contact-form input:active.form-submit {
    background: #374047 url(../images/gradients.jpg) repeat-x center;
}

#pauseBtn {
    width: 18px;
    height: 18px;
    display: block;
    background: url(../images/pause_btn.png) no-repeat bottom;
    position: absolute;
    bottom: 58px;
    right: 15px;
    display: none;
}

#pauseBtn.paused {
    background: url(../images/pause_btn.png) no-repeat top;
}

.toolTip {
    border-bottom: 1px dotted #f7941d;
    font-weight: bold;
    cursor: help;
    position: relative;
}

.toolTip:hover .toolTipContainer,
.toolTip:focus .toolTipContainer,
.toolTip:active .toolTipContainer {
    display: block;
}

.toolTipContainer {
    padding: 10px;
    background: #f7941d;
    display: none;
    position: absolute;
    width: 160px;
    color: #000;
    font-size: 12px;
    line-height: 15px;
    top: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

img.floatLeft, .imageCaption.floatLeft {
    float: left;
    margin: 0 10px 5px 0;
}

img.floatRight, .imageCaption.floatRight {
    float: right;
    margin: 0 0 5px 10px;
}

.imageCaption {
    padding: 5px;
    background: #F0EFEA;
}

.imageCaption img {
    margin-bottom: 3px;
}

.imageCaption span {
    display: block;
}

.newsletterHeadingBox {
    padding: 0;
    margin: 0;
    overflow: hidden;
    border: none;
    position: relative;
    background: #ce3549;
    height: 125px;
}

.newsletterHeadingBox .social {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.newsletterHeadingBox .social a {
    margin-left: 7px;
}

.inThisIssue {
    padding: 0 !important;
    margin: 0 !important;
}

.inThisIssue.whiteCorner {
    background: #fff url(../images/corner.png) no-repeat top right;
}

.inThisIssue h2 {
    padding: 15px !important;
}

.inThisIssue span {
    margin-left: 10px;
    font-family: muli-regular, Arial, Helvetica, sans-serif;
    color: #000;
    text-transform: none;
    font-size: 14px;
}

.inThisIssue ul {
    padding: 0;
    margin: 0 !important;
}

.inThisIssue li {
    border-top: 1px solid #eee;
    padding: 8px 10px 8px 37px !important;
    font-size: 14px;
    margin: 0 !important;
}

#newsletterContent {
    padding-left: 15px;
    overflow: visible;
}

#newsletterContent h1 {
    position: absolute;
    top: 23px;
    left: 17px;
    color: #f59331;
    font: normal 43px/42px "montserrat-bold", Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
}

.newsletterStories {
    width: 690px;
}

#newsletterContent .box {
    width: 312px;
    margin-left: 0 !important;
    margin-right: 15px;
    padding: 14px 7px 0;
    height: 350px;
}

#newsletterContent .fullwidth .box h3 {
    margin-bottom: 7px;
}

#newsletterContent .fullwidth .box {
    width: auto !important;
    display: block;
    float: none;
    height: auto;
}

#newsletterContent img {
    max-width: 100%;
}

.box .newsletterImage {
    margin-left: -7px;
    margin-top: -7px;
}

.fullwidth .box img {
    float: left;
    margin: 2px 0 10px 7px !important;
}

#newsletterContent .box .buttons {
    margin-bottom: 3px !important;
}

#newsletterContent .box .buttons a {
    display: inline-block;
    height: 35px;
    padding: 0 10px;
    line-height: 33px;
    background: #003956;
    color: #fff;
    border: 1px solid transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-family: "muli-bold", Arial, Helvetica, sans-serif;
}

#newsletterContent .box .buttons a.top {
    background: #D03344;
}

#newsletterContent .box .buttons a.more {
    width: 215px;
}

#newsletterContent .box .buttons a:hover,
#newsletterContent .box .buttons a:focus,
#newsletterContent .box .buttons a:active {
    background: #FFFFFF;
    color: #003956;
    border: 1px solid #003956;
    text-decoration: none;
}

#newsletterContent .wideBox {
    clear: both;
    margin: 0 !important;
    color: #a09e93 !important;
    font-size: 11px !important;
    padding: 10px 20px;
}

#newsletterContent .wideBox p {
    color: #61605b !important;
}

.top {
    text-align: right;
    font-size: 11px;
    text-transform: uppercase;
}

.home-slide-item {
    width: 100%;
    height: 243px;
    padding: 7px 0 0 12px;
}

.home-slide-item object {
    width: 100% !important;
    height: 100% !important;
}

.home-slide-item h2 {
    font-size: 44px;
    line-height: 46px;
    font-family: 'montserrat-bold', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.home-slide-item h4 {
    font-size: 35px;
    line-height: 41px;
    font-family: 'montserrat-bold', Helvetica, Arial, sans-serif;
    font-weight: normal;
    padding: 17px 0 0 18px;
}

.home-slide-item h2 a {
    color: #f59331;
}

.home-slide-item h4 a {
    color: #fff;
}

.banner-item {
    height: 236px;
}

.banner-item h2 {
    font-size: 35px;
    line-height: 39px;
    font-family: 'montserrat-bold', Helvetica, Arial, sans-serif;
    font-weight: normal;
    padding: 8px 8px 4px 8px !important;
}

.banner-item h4 {
    font-size: 16px;
    line-height: 20px;
    font-family: 'montserrat-bold', Helvetica, Arial, sans-serif;
    font-weight: normal;
    padding: 78px 10px 5px 8px;
    word-spacing: 1px;
    position: absolute;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    bottom: 16px;
}

.banner-item h2 a {
    color: #fff;
}

.banner-item h4 a {
    color: #fff;
}

#newsletterContent .box .buttons img {
    width: auto;
}

/*media*/

a.arrow {
    color: #fff;
    background: url(../images/arrow.png) no-repeat 100% 5px;
    padding-right: 12px;
}

.latest-news-list .view-filters {
    display: none;
}

.contentBox .field-type-image {
    margin-bottom: 10px;
}

#home-latest-news .views-row {
    padding: 0 8px 0 0;
    border-top: 1px solid #DAD8CD;
    clear: both;
    max-width: none;
    width: auto;
}

#home-latest-news .views-row-first {
    border: none;
}

#home-latest-news .views-field-title {
    font-size: 15px;
    line-height: 18px;
    color: #373F46;
    padding: 8px 8px 5px;
    font-family: 'montserrat-bold', Helvetica, Arial, sans-serif;
}

.view-homepage-tiles .view-content {
  display: table;
  width: 100%;
}

.view-homepage-tiles .view-content .views-row {
  display: table-cell;
  width: 30%;
  margin: 5px 1.5%;
  float: left;
}

.view-homepage-tiles h2 {
    font-size: 29px !important;
    line-height: 29px;
    margin-bottom: 8px;
}

.view-homepage-tiles ul li {
    padding: 3px 7px 7px 20px;
    margin-left: 5px;
    line-height: 18px;
}

#home-content-region {
  background: rgba(255,255,255,0.8);
  display: table;
  padding:0;
}
#home-content-region .block {
  background: rgba(255,255,255,0.8);
  padding: 7px;
  margin: 10px 0;
}
#home-content-region .region.region-homepage-left {
  float:left;
  max-width: 66%;
}

#home-content-region .region.region-homepage-left .block {
  margin-left: 10px;
}

#home-content-region .region.region-homepage-right {
  float:right;
  max-width: 33%;
}

#home-content-region .region.region-homepage-right .block {
  margin-right: 10px;
}

#home-content-region a {
  text-decoration: underline;
}

#home-content-region a:hover,
#home-content-region a:focus {
  text-decoration: none;
}

#home-content-region p.left {
  text-align: left;
}
#home-content-region p.center {
  text-align: center;
}
#home-content-region p.right {
  text-align: right;
}

.btn,
#home-content-region a.btn {
  color: #fff;
  display: inline-block;
  font-family: "muli-bold",  Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 12px 20px;
  background: #003956;
  border: 1px solid #003956;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.btn:hover,
.btn:focus.
#home-content-region a.btn:hover,
#home-content-region a.btn:focus {
  background: #FFFFFF;
  color: #003956;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

#home-content-region hr:before,
#home-content-region hr:after {
  clear: both;
}

#home-content-region hr {
  height: 0;
  border-color: #D03344;
  max-width: 90%;
  margin: 1.2em 5%;
  display: inline-block;
  width: 100%;
  float: none;
}

#fwbc-on-site-new .banner-item h2 a, #fwbc-on-site-new .banner-item h4 a {
    color: #003956 !important;
}

#home-latest-news .views-field-created {
    float: right;
    padding-top: 4px;
    padding-bottom: 10px;
    color: #555555;
    font-size: 11px;
    /*width: 100%;
    display: block;
    clear: both;*/
}

#home-latest-news .views-field-created .field-content {
    float: right;
    margin-right: 6px;
}

#home-latest-news .views-field-body {
    padding: 0 8px 10px;
    font-size: 12px;
    line-height: 18px;
    max-height: 265px;
    float: left;
}

#home-latest-news .more-news {
    padding-top: 5px;
}

.legal-cases-list .content-block {
    float: left;
    width: 475px;
}

.contact-form .form-type-radio {
    float: left;
    margin: 0 7px 0 0;
}

.contact-form .form-type-radio input[type="radio"] {
    float: left;
    margin: 0 5px 0 0;
}

.contact-form label {
    display: block;
    padding: 0 0 5px;
}

.contact-form .form-type-radio label {
    float: left;
    padding: 1px 0 0;
}

.view-header {
    display: block;
    padding: 0 0 6px;
    font-size: 15px;
    line-height: 18px;
    font-family: 'montserrat-regular', Helvetica, Arial, sans-serif;
}

.contact-form .webform-client-form > div > .form-item {
    background-color: #F0EFEA;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    border-bottom: 1px solid #fff;
}

.contact-form .webform-client-form > div > .form-item p {
    margin: 0;
}

.contact-form .webform-client-form > div > .form-item > label {
    float: left;
    width: 114px;
    font-weight: bold;
    padding: 6px 10px 0 0;
}

#sign-up-newsletter-page .contact-form .webform-client-form > div > .form-item > label {
    width: 112px;
}

.contact-form .webform-client-form > div > .form-item > div {
    overflow: hidden;
}

.contact-form .webform-client-form .resizable-textarea .grippie {
    display: none;
}

.contact-form .webform-client-form .form-textarea-wrapper textarea {
    width: 250px;
}

.contact-form .webform-client-form h2 {
    margin: 0;
}

.contact-form .webform-client-form .marker, .webform-client-form .form-required {
    color: #373F46;
}

.contact-form .webform-client-form #edit-actions {
    background-color: #F0EFEA;
    margin: 0;
    padding: 10px 0 10px 200px;
}

#sign-up-newsletter-page .contact-form .webform-client-form #edit-actions {
    padding: 10px 10px 10px 130px;
}

th a {
    color: #fff !important;
}

th a:hover,
th a:focus,
th a:active {
    color: #fff;
}

.views-field-title a img {
    margin-left: 4px;
}

.views-field-field-alleged-breach,
.views-field-field-alleged-breach-submission {
    width: 96px;
}

table td.active {
    background: #fff;
}

.form-item input.error, .form-item textarea.error, .form-item select.error {
    border-width: 1px;
}

.newsletterStories .box .newsletter-thumb img {
    margin: 0;
    vertical-align: top;
}

.newsletterStories .box .newsletter-thumb {
    text-align: center;
    position: relative;
    z-index: 1;
}

.newsletterStories .box .newsletters-list-content {
    min-height: 115px;
}

.newsletterStories .box h3 {
    min-height: 36px;
}

#newsletterContent .newsletterStories .box {
    position: relative;
}

#newsletterContent .newsletterStories .box .corner {
    clear: both;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    z-index: 15;
    background: url(../images/corner-news.png) no-repeat;
    width: 93px;
    height: 75px;
}

#searchResults p {
    border-top: 1px solid #DAD8CD;
    margin-bottom: 10px;
    padding-top: 10px;
}

#newsletter-signup-box form {
    background-color: #fff;
    padding: 0 8px;
}

#newsletter-signup-box label {
    font-weight: normal;
    margin-bottom: 0;
    padding: 8px 0 5px;
    font-family: 'muli-regular', Helvetica, Arial, sans-serif;
}

.content-box ul.links {
    display: none;
}

.site-map-menu li {
    background: none !important;
}

span.file {
    display: block;
    margin-bottom: 5px;
}

em {
    font-style: italic;
}

.mobile-display {
    display: none;
}

.home-left-container {
    float: left;
    width: 315px;
}

.home-left-container .box {
    display: none;
}

.home-left-banner-item {
    margin-left: 15px;
    margin-top: 15px;
    float: left;
}

.tabs ul.tabs li {
    list-style: none;
    background: none;
    padding: 0;
    margin: 0;
}

.view-no-permit table {
    width: 100%;
}

.view-no-permit table th.views-field-title {
    padding-left: 5px;
}

.view-no-permit table .views-field-field-state-no-permit,
.view-no-permit table .views-field-field-union {
    width: 80px;
    text-align: right;
}

.view-no-permit table .views-field-field-union {
    padding-right: 10px;
}

.home-box {
    height: 238px;
}

.home-box .button {
    position: absolute;
    left: 7px;
    bottom: 7px;
    right: 7px;
}

a.no-underline:hover {
    text-decoration: none;
}

/* GovCMS overrides */
#site-map .content {
    background: none;
}

#site-map .description {
    display: none;
    visibility: hidden;
}

.contentBox .site-map-menu ul li {
    max-width: 380px;
    padding: 3px 7px 7px 5px !important;
}

/* Nicer admin tabs */

ul.primary {
  border-bottom: 5px solid #D03344;
  background: #003956;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
}

ul.primary li a {
  display: inline-block;
  background: 0;
  margin:0;
  padding:6px 10px;
  color: #FFFFFF;
  border: 1px solid transparent;
  border-bottom: 0 !important;
  font-family: "montserrat-regular", Helvetica, Arial, sans-serif;
  font-weight: normal;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

ul.primary li.active a {
  display: inline-block;
  background: 0;
  margin:0;
  color: #FFFFFF;
  border-color: #D03344;
  border-bottom: 0;
}

ul.primary li a:hover {
  cursor: hand;
  background: 0;
  margin:0;
  color: #FFFFFF;
  border-color: #D03344;
  border-bottom: 0;
  font-weight: bold;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

/* Information banner region */

/*  There's no logic to prevent the html from rendering
    It's intended at this time to only show this block
    on the homepage, so logic here will prevent an
    anomoly from showing up on pages not-front.
 */
.front .region-top-information-banner {
  display: inline-block;
}
.not-front .region-top-information-banner {
  display: inline;
}
.region-top-information-banner {
  width: 100%;
  max-width: none;
  background: #ACACAC;
}
.region-top-information-banner .block {
  max-width:960px;
  margin:auto;
  padding: 20px;
  background: #ACACAC;
}
.region-top-information-banner .block h2 {
  font-size: 2em;
  line-height: 1.4em;
  text-transform: none;
  margin-bottom: 0.5em;
}
.region-top-information-banner .block p {
  font-size: 2em;
  line-height: 1.2em;
  display: inline-block;
  width: 100%;
}
.region-top-information-banner .block p a {
  float: right;
  font-weight: bold;
}
